





@model IEnumerable<BE.concrete.Notification>

@{
    ViewData["Title"] = "NotificationList";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-dark card-img-holder text-white">
                <div class="card-body">
                    <img src="~/CoreWriterTema/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                       @item.Type 
                    </h4>
                    <h5 class="mb-5">@item.Details</h5>
                    <h6 class="card-text">@item.Status</h6>
                </div>
            </div>
        </div>
    }
</div>

