





@model IEnumerable<BE.concrete.Blog> 
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body>
	<!--Header-->

	
	<!--//header-->
	

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					@foreach (var item in Model)
					{
					 <div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="single.html">
									<img src="~/CoreTema/images/b1.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> @item.CreateDate.ToString("dd,MMM.yyyy")
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 0 Beğeni
										</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 0 Yorum
										</a>
									</li>

								</ul>
							</div>
						</div>

						<h3>
							<a href="single.html">@item.Title </a>
						</h3>
						<p>
							@item.Content
						</p>
						<a href="~/Blog/Index" class="btn btn-primary read-m">Bloglar</a>
					</div>
					}
					
					@await Component.InvokeAsync("CommentListBayBlog", new {id = ViewBag.Id})
					@* @await Html.PartialAsync("~/Views/Comment/CommentListBayBlog.cshtml") *@
					@* @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml") *@
					@await Component.InvokeAsync("CommentAdd", new {id = ViewBag.Id})
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						@* <div class="tech-btm">
							<img src="~/CoreTema/images/banner1.jpg" class="img-fluid" alt="">
						</div> *@
						@await Html.PartialAsync("~/Views/NewsLatter/Index.cshtml")

						@await Component.InvokeAsync("CategoryList")

					
						@await Component.InvokeAsync("WriterLastBlog")




						

						<div class="single-gd tech-btm">
							<h4>Recent Post</h4>
							<div class="blog-grids">
								<div class="blog-grid-left">
									<a href="single.html">
										<img src="~/CoreTema/images/b1.jpg" class="img-fluid" alt="">
									</a>
								</div>
								<div class="blog-grid-right">

									<h5>
										<a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
									</h5>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->
	
	<!---->
	<!-- js -->
	


</body>

