




@{
     Layout = "";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Error404</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Bicycle Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="~/Core404Page-main/css/style.css" type="text/css" media="all" />
	<!--//Style-CSS -->
	<!-- font-awesome-icons -->
	<link href="~/Core404Page-main/css/font-awesome.css" rel="stylesheet">

	<!-- //font-awesome-icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<section class="w3l-error-61-404">
		<!-- /error-61-section -->
		<div class="error-61-mian">
			<div class="wrapper">
				<div class="errors-16-top">
					<div class="errors-16-info">
						<h3>404 </h3>

						<p>Oops!Sayfa Bulunamadı</p>
						<a class="btn btn-primary"  href="~/Blog/Index/">Anasayfa</a>
						@* <div class="social-coming-icons">
							<a href="#" title="Facebook" class="footer-fb">
								<span class="fa fa-facebook"
									  aria-hidden="true"></span>
							</a>
							<a href="#" title="Twitter" class="footer-tw">
								<span class="fa fa-twitter"
									  aria-hidden="true"></span>
							</a>
							<a href="#" title="Google Plus" class="footer-gg">
								<span class="fa fa-google-plus"
									  aria-hidden="true"></span>
							</a>
							<a href="#" title="Linkedin" class="footer-lin">
								<span class="fa fa-linkedin"
									  aria-hidden="true"></span>
							</a>
						</div> *@

					</div>

				</div>
				<div class="copyright-footer">
					<div class="copy-right">
						<p>
							@DateTime.Now.Year  Error Sayfası.Tüm hakklar saklıdır 
							
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //error-61-section -->
</body>

</html>