@model IEnumerable<BE.concrete.Message2>

@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <buttn class="form-control btn btn-info">Yeni Message</buttn>
        @foreach (var item in Model)
        {
           
            <li class="nav-item nav-profile">
                <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                        <img src="@item.SenderUser.İmage" alt="profile">
                        <span class="login-status online"></span>
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">@item.SenderUser.Name</span>
                        <span class="text-secondary text-small">@item.Subject</span>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                </a>
            </li>
        }


    </ul>
</nav>