@model IEnumerable<BE.concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/CoreTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.UserName</h5>
                <h1>@item.Title</h1>
                <p>
                    @item.Content
                </p>
            </div>
        </div>
    }
</div>