
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserLayout</title>
</head>
burası layout 
<body>

    @RenderBody()
</body>
</html>
