@model IEnumerable<BE.concrete.Category>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Kategori </th>
                                <th> Durum </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.id </td>
                                    <td> @item.Name </td>
                                    <td> <a style="cursor:pointer" class="@StatusColor(@item.Status.ToString())"> @Statuses(@item.Status.ToString())</a> </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@functions {
    string Statuses (string s)
    {
        if (s != null)
        {
            if (s == "True")
            {
                return "Aktif";
            }
            else
            {
                return "Pasif";
            }
        }
        return "Berilenmedi";
    }
    string StatusColor(string s)
    {
        if (s != null)
        {
            if (s == "True")
            {
                return "badge badge-gradient-success";
            }
            else
            {
                return "badge badge-gradient-danger";
            }
        }
        return "badge badge-gradient-warning";
    }
}