@using Microsoft.CodeAnalysis;






<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>





<div class="tech-btm">
    
    <p>Tenkoloji yazılım ve diğer bloglar </p>
    <form method="post">
        <input type="email" placeholder="E-mail" name="Mail" id="mailtxt" required="">
        <input type="submit" id="btn1" value="Abone Ol">
    </form>
 
</div>

<script>
    $(document).ready(function () {

        $("#btn1").click(function () {

            $.ajax({
                url: '/NewsLatter/Index',
                type: 'post',
                data: { Mail: $("#mailtxt").val() },
                beforpost: function (xhr) {
                    console.log("istek gönderildi");
                },
                success: function (data) {
                    console.log("İşlem Yapıldı");

                },
                error: function (error) {
                    console.error("bir error var ", error);
                }

            });
        });

    });
</script>
