
@{
    ViewData["Title"] = "BlogListExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExel</h1>
<br/>
<a class="btn btn-primary" href="/Admin/Blog/ExportExelBlogList">Blogların Exel Listesini İndir</a>
