

@model BE.concrete.Comment


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form asp-action="/Comment/PartialAddComment" method="post">
            <input class="form-control" id="nametxt" type="text" name="UserName" placeholder="İsim" required="">
            <input class="form-control" id="emailtxt" type="email" name="Email" placeholder="Email" required="">
            @Model.Blogid = ViewBag.Id
            <input class="form-control" id="titletxt" type="text" name="Title" placeholder="Başlık" required="">

            <textarea class="form-control" id="messagetxt" name="Message" placeholder="Yorum..." required=""></textarea>
            <button type="submit" id="savebtn" class="btn btn-primary submit">Ekle</button>
        </form>
    </div>
</div>





@*<script>
    
    $(document).ready(function () {
        function Comment() {
            this.UserName = "aa";
            this.Mail = "aa";
            this.Title = "aa";
            this.Content = "aa";
        }
        $("#savebtn").click(function () {
            var c = new Comment()
            {
                UserName = $("#nametxt").val();
                Mail = $("#emailtxt").val();
                Title = $("#titletxt").val();
                Content = $("#messagetxt").val();
            }
            $.ajax({
                url: '/Comment/PartialAddComment',
                type: 'POST',
                data: { UserName: c.UserName, Mail: c.Mail, Title: c.Title, Content: c.Content },
                beforeSend: function (xhr) {

                    console.log('İstek gönderiliyor...');

                },
                success: function (data) {
                   console.log("Kayıt Başarılı");
                },
                error: function (error) {

                    console.log('İstek başarısız oldu: ', error);
                }
            });

        });

    });




</script>*@