







<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashbord</h1>

                <h3 class="font-bold no-margins">
                   Asp.net Core 5.0
                </h3>
                <small>projemizin bu panelinde admin işlemleribir area yapısı üzerinden gerçekleşecek</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Blog</h1>
                <h3 class="font-bold no-margins">
                    Son Eklenen 
                </h3>
                <small>@ViewBag.LastBlog</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">50,992 ₺</h1>

                <h3 class="font-bold no-margins">
                    Bu ay kazanılan miktar
                </h3>
                <small>Reklam satişından</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>